* {
    padding: 0;
    margin: 0;
    box: sizing 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: cursive;

}

header {
    
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
}

galeria {
    height: 100%;
    width: 100%;
    

}

.galeria img{
    width: 33%;
    height: 200px;
    object-fit: cover;
    filter: grayscale(1s);
    transition: 0.3s;
    transform: scale(1.1);
    
}


main {
    flex-grow: 1;
    padding-inline: 10%;

}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;

}